.form-group {
  position: relative;
  width: 100%;
  margin-bottom: 35px;
  margin-top: 10px; }
  .form-group input[type="text"], .form-group input[type='password'], .form-group input[type='email'], .form-group input[type='date'], .form-group input[type='number'], .form-group input[type='datetime'], .form-group input[type='time'], .form-group input[type='file'], .form-group textarea {
    display: block;
    position: relative;
    width: 100%;
    background: 0 0;
    padding: 26px 0 12px;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-width: 0 0 1px;
    box-shadow: none;
    z-index: 1;
    outline: 0; }
  .form-group textarea {
    resize: none;
    -moz-transition: all, 0.3s ease;
    -o-transition: all, 0.3s ease;
    -webkit-transition: all, 0.3s ease;
    transition: all, 0.3s ease; }
  .form-group input[type='radio'] {
    display: none; }
    .form-group input[type='radio'] + label {
      position: relative;
      font-size: 1em;
      margin-right: 10px;
      cursor: pointer; }
      .form-group input[type='radio'] + label::before {
        content: "";
        display: inline-block;
        position: relative;
        top: 3px;
        width: 15px;
        height: 15px;
        border-radius: 10px;
        border: 2px solid #878080;
        margin-right: 5px;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .form-group input[type='radio'] + label::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: 9px;
        top: 12px;
        border-radius: 10px;
        background: #26a69a;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
    .form-group input[type='radio']:checked + label {
      color: #26a69a; }
      .form-group input[type='radio']:checked + label::after {
        left: 4px;
        top: 7px;
        width: 11px;
        height: 11px; }
      .form-group input[type='radio']:checked + label::before {
        border: 2px solid #26a69a; }
  .form-group input[type='checkbox'] {
    display: none; }
    .form-group input[type='checkbox'] ~ label {
      position: relative;
      padding-left: 35px;
      padding-right: 20px;
      cursor: pointer;
      display: inline-block;
      height: 25px;
      line-height: 25px;
      font-size: 1rem; }
      .form-group input[type='checkbox'] ~ label::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        border: 2px solid #5a5a5a;
        border-radius: 1px;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
    .form-group input[type='checkbox']:checked ~ label {
      color: #26a69a; }
      .form-group input[type='checkbox']:checked ~ label::before {
        top: -6px;
        left: 5px;
        width: 12px;
        height: 22px;
        border-color: transparent #26a69a #26a69a transparent;
        backface-visibility: hidden;
        transform: rotate(40deg); }
  .form-group select {
    position: relative;
    width: 100%;
    padding: 15px 15px;
    font-size: 0.7em;
    outline: none;
    border-color: rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold; }
    .form-group select option {
      padding: 10px; }
  .form-group label {
    display: inline-block;
    position: absolute;
    margin-bottom: 6px;
    top: 0;
    font-size: 12px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.4);
    padding: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .form-group.radio-group label:first-child, .form-group.select-group label:first-child, .form-group.checkbox-group label:first-child, .form-group.file-group label:first-child {
    position: static;
    display: block;
    font-size: 0.7em;
    margin-right: 10px;
    margin-top: 15px; }
  .form-group.select-group {
    position: relative; }
    .form-group.select-group::before {
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      top: 38px;
      right: 15px;
      transform: rotate(45deg);
      z-index: 1;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-left: none;
      border-top: none; }
  .form-group::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.08);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .form-group.text-area-group::after {
    bottom: 2px; }
  .form-group.is-empty:not(.has-focus) label {
    font-weight: 400;
    font-size: 14px;
    top: 32px; }
  .form-group.has-focus label {
    color: #039BE5; }
  .form-group.has-focus::after {
    left: 0;
    background: #039BE5;
    width: 100%; }
  .form-group .field-validation-valid, .form-group .field-validation-error {
    position: absolute;
    font-weight: 300;
    font-size: 12px;
    color: red;
    line-height: 24px;
    -moz-transition: opacity 0.3s ease, visibility 0.3s ease, top 0.1s ease 0.3s;
    -o-transition: opacity 0.3s ease, visibility 0.3s ease, top 0.1s ease 0.3s;
    -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, top 0.1s ease 0.3s;
    transition: opacity 0.3s ease, visibility 0.3s ease, top 0.1s ease 0.3s;
    margin: 0; }
    .form-group .field-validation-valid.is-valid, .form-group .field-validation-error.is-valid {
      display: block !important;
      visibility: hidden;
      opacity: 0;
      top: calc(100% - 24px); }
  .form-group.has-error label {
    color: red; }
  .form-group.has-error::after {
    left: 0;
    background: red;
    width: 100%; }
  .form-group.has-error .field-validation-valid:not(.is-valid), .form-group.has-error .field-validation-error:not(.is-valid) {
    position: absolute;
    color: red;
    opacity: 1;
    visibility: visible;
    top: 100%;
    -moz-transition: opacity 0.3s ease, visibility 0.3s ease;
    -o-transition: opacity 0.3s ease, visibility 0.3s ease;
    -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
    transition: opacity 0.3s ease, visibility 0.3s ease; }
  .form-group.is-valid.has-focus {
    color: #26a69a; }
    .form-group.is-valid.has-focus label {
      color: #26a69a; }
    .form-group.is-valid.has-focus::after {
      left: 0;
      background: #26a69a;
      width: 100%; }
  .form-group.is-empty input:not(:focus)::-webkit-datetime-edit-year-field:not([aria-valuenow]), .form-group.is-empty input:not(:focus)::-webkit-datetime-edit-month-field:not([aria-valuenow]), .form-group.is-empty input:not(:focus)::-webkit-datetime-edit-day-field:not([aria-valuenow]), .form-group.is-empty input:not(:focus)::-webkit-datetime-edit-hour-field:not([aria-valuenow]), .form-group.is-empty input:not(:focus)::-webkit-datetime-edit-minute-field:not([aria-valuenow]), .form-group.is-empty input:not(:focus)::-webkit-datetime-edit-text {
    color: transparent; }

.validation-summary-errors {
  color: red;
  margin: 10px 10px 30px; }

.form-buttons {
  text-align: center; }

.action-button {
  outline: none;
  cursor: pointer;
  background: #26a69a;
  border: none;
  color: #fff;
  width: 200px;
  height: 35px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .action-button:hover {
    background: #2bbbad;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.cancel-button {
  text-align: center;
  line-height: 32px;
  background: none;
  color: #039BE5;
  box-shadow: none;
  margin-bottom: 0; }
  .cancel-button:hover {
    background: rgba(0, 0, 0, 0.05);
    box-shadow: none; }
  .cancel-button::before {
    display: inline-block;
    content: "\27A5";
    padding-left: 5px;
    transform: rotate(180deg); }

.ms-form {
  counter-reset: step; }
  .ms-form fieldset {
    position: absolute;
    left: 0;
    right: 0;
    counter-increment: step; }
    .ms-form fieldset .ms-form-step::after {
      content: counter(step);
      display: inline-block; }
    .ms-form fieldset:not(:first-of-type) {
      display: none; }

.picker__holder {
  outline: none; }

/*# sourceMappingURL=forms.css.map */